.ShapeControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
  width: auto;
}

.ShapeControlButtons {
  margin-top: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShapeControlShapeButtons button {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  margin: 0 5px;
  background: transparent;
  border: 2px solid red;
  color: #fdc0ff;
  border: 2px solid #fdc0ff;
  box-shadow: 0 0 10px #fdc0ff;
  transition: 0.25s;
}

.ShapeControlShapeButtons button:hover {
  border: 2px solid #fdc0ff;
  box-shadow: 0 0 22px #fdc0ff;
  background: #fdc0ff;
  color: #ffffff;
}

.ShapeDisplayAndOrientation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShapeControlShapeButtons {
  display: flex;
  justify-content: center;
}

.controlButton {
  margin: 30px;
}

.ShapeDisplayScreen {
  /* border: 1px solid red; */
  position: relative;
  z-index: 1000;
  height: 111px;
  width: 111px;
  top: 113px;
  margin: 0 auto;
}