.GameForm {
  width: 100%;
}

.ColorPicker {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.Sliders {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.PlayerInputs {
  display: flex;
  justify-content: center;
}
