.ScoreDisplay {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}

.PlayerData {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlayerName {
  font-size: 40px;
  word-wrap: break-word;
}

.PlayerScore {
  font-size: 60px;
}

.Label {
  padding-right: 15px;
}

.PlayerFlags {
  font-size: 30px;
}

.PlayerLiveCells {
  font-size: 20px;
}

.PlayerFlags, .PlayerLiveCells {
  display: flex;
  width: 100%;
  margin: 0 10px;
  justify-content: space-between;
}
