.CellBar {
    width: 100px;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 30px;
}

.Gauge {
    width: 50px;
    height: 100%;
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border: 5px solid #fdc0ff;
    box-shadow: 0 0 30px #ffffff60;
    background-color: rgba(0, 68, 59, 0.575);
}

.Bar {
    width: 100%;
    background-color: #fdc0ff;
    border: 10px solid #fdc0ff;
    transition: 0.25s;
}
