.CellBar {
    width: 100px;
    display: flex;
    justify-content: center;
    height: 70vh;
    margin: 0 30px;
}

.Gauge {
    width: 50px;
    height: 100%;
    border: 1px black solid;
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border: 5px solid #fdc0ff;
    box-shadow: 0 0 5px #fdc0ff;
}

.Bar {
    width: 101%;
    background-color: #fdc0ff;
    border: 5px solid #fdc0ff;
    transition: 0.25s;
}
